/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.contact__item::after, .header__button::after, .navigation__item::after {
  opacity: 0;
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #403f3d;
  transition: all 0.5s ease;
}
.contact__item:hover::after, .header__button:hover::after, .navigation__item:hover::after {
  opacity: 1;
}

@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-VariableFont.ttf");
  font-style: normal;
}
@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-Italic-VariableFont.ttf");
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: #e1d4c9;
  font-family: Inter, Verdana, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #403f3d;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

.title {
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  line-height: 125%;
}

.title__accent {
  font-style: italic;
  color: #b0907a;
}

.icon {
  display: inline-block;
}
.icon_coffee {
  width: 20px;
  height: 20px;
  background: url("../../images/icons/coffee-cup.svg") no-repeat center center;
}
.icon_twitter {
  background: url("../../images/icons/twitter.svg") no-repeat center center;
}
.icon_instagram {
  background: url("../../images/icons/instagram.svg") no-repeat center center;
}
.icon_facebook {
  background: url("../../images/icons/facebook.svg") no-repeat center center;
}
.icon_map {
  background: url("../../images/icons/pin-alt.svg") no-repeat center center;
}
.icon_tel {
  background: url("../../images/icons/phone.svg") no-repeat center center;
}
.icon_time {
  background: url("../../images/icons/clock.png") no-repeat center center;
}

.icon_social {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
}

.icon_contact {
  margin-right: 9px;
  width: 20px;
  height: 20px;
}

.navigation {
  padding: 0;
  font-weight: 600;
}
.navigation__link {
  color: inherit;
  text-decoration: none;
}

.navigation__item {
  position: relative;
  display: inline-block;
  margin-left: 38px;
}
.navigation__item:first-child {
  margin-left: 0;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button_default {
  width: 200px;
  height: 64px;
  border-radius: 32px;
}
.button_colored {
  background: #e1d4c9;
}
.button_outline {
  border: 1px solid #665f55;
}
.button_outline:hover {
  background: #665f55;
  color: #e1d4c9;
}

.slider {
  margin-top: 45px;
}

.slider__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__button {
  position: relative;
  top: 44px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid #403f3d;
  background: url("../images/icons/arrow.png") center center no-repeat;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (max-width: 1439px) {
  .slider__button {
    top: -2px;
  }
}
.slider__button_left {
  left: 4px;
}
@media (max-width: 1439px) {
  .slider__button_left {
    left: 0;
  }
}
.slider__button_right {
  right: 4px;
  transform: rotate(180deg);
}
@media (max-width: 1439px) {
  .slider__button_right {
    right: 0;
  }
}
.slider__button:hover {
  background-color: #665f55;
  background-image: url("../images/icons/arrow-hover.png");
}

.slider__progress {
  margin: 40px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.progress-dash {
  width: 40px;
  height: 4px;
  background: #c1b6ad;
  border-radius: 2px;
}
.progress-dash_active {
  background: #665f55;
}

.slide {
  width: 480px;
  text-align: center;
}

.slide__image {
  display: block;
  margin: 0 auto;
  height: 480px;
}

.slide__title {
  margin-top: 16px;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3rem;
}

.slide__text {
  margin-top: 16px;
  line-height: 150%;
}

.slide__price {
  margin-top: 16px;
  font-size: 2.4rem;
  font-weight: 600;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab {
  height: 46px;
  width: fit-content;
  padding: 0 16px 0 8px;
  display: flex;
  align-items: center;
  border: 1px solid #c1b6ad;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.tab_active {
  cursor: default;
}

.tab__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #c1b6ad;
}

.tab__text {
  margin-left: 8px;
}

.tab_active, .tab:hover {
  color: #e1d4c9;
  background: #665f55;
}
.tab_active .tab__icon, .tab:hover .tab__icon {
  background: #e1d4c9;
}

.card {
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 506px;
  border: 1px solid #c1b6ad;
  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;
}
.card:hover img {
  transform: scale(0.92);
}

.card__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
}
.card__image img {
  transition: all 0.3s ease;
}

.card__data {
  padding: 20px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.card__title {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.card__text {
  flex-grow: 1;
  margin-top: 12px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

.card__price {
  font-size: 2.4rem;
  font-weight: 600;
}

.wrapper {
  max-width: 1360px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .wrapper {
    margin: 0 40px;
  }
}

.header {
  height: 60px;
  margin: 20px 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__navigation {
  margin-top: -7px;
}

.header__button {
  position: relative;
  color: inherit;
  text-decoration: none;
  margin-top: -10px;
}
.header__button span {
  margin-left: 9px;
  margin-bottom: -2px;
}
.header__button.active {
  cursor: default;
}
.header__button.active::after {
  opacity: 1;
}

.promo {
  color: #e1d4c9;
}

.promo__wrapper {
  height: 644px;
  padding: 100px;
  border-radius: 40px;
  background: url("../images/promo.jpg") no-repeat;
  background-size: cover;
  background-position: bottom -31px left 0px;
}
@media (max-width: 1439px) {
  .promo__wrapper {
    background-position: bottom 0 center;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.promo__content {
  width: 530px;
}

.promo__title {
  margin-bottom: 40px;
  letter-spacing: 0.25rem;
  font-weight: 600;
  font-size: 7.2rem;
  line-height: 7.6rem;
}

.promo__text {
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 2.4rem;
}

.promo__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #403f3d;
}
.promo__button .icon {
  opacity: 0;
  transition: all 0.4s ease;
  transition-delay: 0.1s;
}
.promo__button:hover .icon {
  opacity: 1;
  transform: translateX(8px);
}
.promo__button .menu-button__text {
  position: relative;
  left: 10px;
  display: inline-block;
  transition: all 0.5s ease;
}
.promo__button:hover .menu-button__text {
  transform: translateX(-10px);
}

.favorite__wrapper {
  margin-top: 100px;
}

.favorite__title {
  text-align: center;
}

.about__wrapper {
  margin-top: 100px;
}

.about__images {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  height: 1060px;
}
@media (max-width: 1439px) {
  .about__images {
    height: auto;
    align-content: center;
    gap: 40px;
  }
}

.about__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 660px;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 1439px) {
  .about__img {
    width: auto;
    max-width: 100%;
    display: none;
  }
  .about__img:first-child, .about__img:last-child {
    display: flex;
  }
}
.about__img_big {
  height: 590px;
}
.about__img_small {
  height: 430px;
}
.about__img img {
  width: 726px;
  transition: all 0.3s ease;
}
.about__img:hover img {
  transform: scale(0.92);
}

.mobile-app__wrapper {
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 1439px) {
  .mobile-app__wrapper {
    flex-direction: column;
  }
}

.mobile-app__content {
  max-width: 630px;
}
@media (max-width: 1439px) {
  .mobile-app__content {
    max-width: 100%;
  }
}

.mobile-app__title {
  margin-top: 145px;
}
@media (max-width: 1439px) {
  .mobile-app__title {
    margin-top: 0;
  }
}

.mobile-app__text {
  margin-top: 40px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0.1px;
}

.mobile-app__buttons {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 20px;
}

.mobile-app__button {
  padding-left: 19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}
.mobile-app__button .store-button-text {
  padding-left: 9px;
}
.mobile-app__button .store-button-text__subtitle {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 6px;
}
.mobile-app__button:hover .mobile-app__icon_apple {
  background: url("../images/icons/icon-apple-hover.svg") no-repeat;
}
.mobile-app__button:hover .mobile-app__icon_google {
  background: url("../images/icons/icon-google-hover.svg") no-repeat;
}

.mobile-app__icon {
  display: block;
  width: 36px;
  height: 36px;
  transition: all 0.3s ease;
}
.mobile-app__icon_apple {
  background: url("../images/icons/icon-apple.svg") no-repeat;
}
.mobile-app__icon_google {
  background: url("../images/icons/icon-google.svg") no-repeat;
}

@media (max-width: 1439px) {
  .mobile-app__image {
    margin: 100px auto 0 auto;
  }
}

.footer__wrapper {
  margin-top: 98px;
  padding: 100px;
  width: 1360px;
  height: 450px;
  border-radius: 40px;
  background: #665f55;
  display: flex;
}
@media (max-width: 1439px) {
  .footer__wrapper {
    width: auto;
    height: auto;
    padding: 100px 60px 107px;
    flex-direction: column;
  }
}

.footer__content {
  width: 50%;
}
@media (max-width: 1439px) {
  .footer__content {
    width: 100%;
  }
}

.footer__title {
  color: #e1d4c9;
}

.footer__social {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 12px;
}

.footer__button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c1b6ad;
}
.footer__button:hover {
  background: #e1d4c9;
  border-color: #e1d4c9;
}
.footer__button:hover .icon_twitter {
  background-image: url("../../images/icons/twitter-hover.svg");
}
.footer__button:hover .icon_instagram {
  background-image: url("../../images/icons/instagram-hover.svg");
}
.footer__button:hover .icon_facebook {
  background-image: url("../../images/icons/facebook-hover.svg");
}

.footer__contact {
  margin-top: 32px;
  margin-left: 50px;
  color: #e1d4c9;
}
@media (max-width: 1439px) {
  .footer__contact {
    margin-left: 0;
    margin-top: 101px;
  }
}

.contact__title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.5px;
}

.contact__item {
  position: relative;
  margin-top: 24px;
  width: fit-content;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
}
.contact__item a {
  color: inherit;
  text-decoration: none;
}
.contact__item:after {
  background: #e1d4c9;
}
.contact__item_not-interactive:hover::after {
  content: none;
}

.menu__title {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.menu__tabs {
  margin-top: 40px;
  gap: 16px;
}

.menu__cards {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}

/*# sourceMappingURL=style.css.map */
