.footer {
  &__wrapper {
    margin-top: 98px;
    padding: 100px;
    width: 1360px;
    height: 450px;
    border-radius: 40px;
    background: $color-bg-container;
    display: flex;
  }
}

.footer__content {
  width: 50%;
}

.footer__title {
  color: $color-text-light;
}

.footer__social {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 12px;
}

.footer__button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-border-light;
  &:hover {
    background: $color-text-light;
    border-color: $color-text-light;
    & .icon_twitter {
      background-image: url("../../images/icons/twitter-hover.svg");
    }
    & .icon_instagram {
      background-image: url("../../images/icons/instagram-hover.svg");
    }
    & .icon_facebook {
      background-image: url("../../images/icons/facebook-hover.svg");
    }
  }
}


.footer__contact {
  margin-top: 32px;
  margin-left: 50px;
  color: $color-text-light;
}

.contact__title {
  margin-bottom: 40px;
  @include font(24px);
  line-height: 125%;
  letter-spacing: 0.5px;
}

.contact__item {
  @extend %link-underscore;
  position: relative;
  margin-top: 24px;
  width: fit-content;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;

  & a {
    color: inherit;
    text-decoration: none;
  }

  &:after {
    background: $color-text-light;
  }


  &_not-interactive:hover::after {
    content: none;
  }
}