.header {
  height: 60px;
  margin: 20px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__navigation {
    margin-top: -7px;
  }

}

.header__button {
  position: relative;
  color: inherit;
  text-decoration: none;
  @extend %link-underscore;
  margin-top: -10px;
  & span {
    margin-left: 9px;
    margin-bottom: -2px;
  }

  &.active {
    cursor: default;
    &::after {
      opacity: 1;
    }
  }

}