.header {
  height: 60px;
  margin: 20px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

.header__navigation {
  margin-top: -7px;
  @include media-tablet {
    display: none;
  }
}

.header__button {
  position: relative;
  color: inherit;
  text-decoration: none;
  @extend %link-underscore;
  margin-top: -10px;
  & span {
    margin-left: 9px;
    margin-bottom: -2px;
  }

  @include media-tablet {
    display: none;
  }

  &.active {
    cursor: default;
    &::after {
      opacity: 1;
    }
  }

}

.hamburger {
  display: none;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 1px solid $color-border-dark;
  border-radius: 50%;
  @include media-tablet {
    display: flex;
  }
}

.hamburger__icon {
  width: 18px;
  height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hamburger__line {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background: $color-text-dark;
}