$color-bg: #e1d4c9;

$color-bg-container: #665f55;

$color-text-dark: #403f3d;
$color-text-light: #e1d4c9;
$color-text-accent: #b0907a;


$color-border-light: #c1b6ad;
$color-border-dark: #665f55;


$width-tablet: 1439px;
$width-mobile: 767px;