.button {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &_default {
    width: 200px;
    height: 64px;
    border-radius: 32px;
  }
  &_colored {

    background: $color-text-light;
  }

  &_outline {
    border: 1px solid $color-border-dark;
    &:hover {
      background: $color-bg-container;
      color: $color-text-light;
    }
  }

}