.mobile-app {

  &__wrapper {
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include media-tablet {
      flex-direction: column;
    }
  }
}

.mobile-app__content {
  max-width: 630px;
  @include media-tablet {
    max-width: 100%;
  }
}

.mobile-app__title {
  margin-top: 145px;
  @include media-tablet {
    margin-top: 0;
  }
}

.mobile-app__text {
  margin-top: 40px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0.1px;
}

.mobile-app__buttons {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 20px;
}

.mobile-app__button {
  padding-left: 19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;

  & .store-button-text {
    padding-left: 9px;
    &__subtitle {
      @include font($size: 10px);
      line-height: 140%;
      margin-bottom: 6px;
    }
  }

  &:hover {
    & .mobile-app__icon {
      &_apple {
        background: url("../images/icons/icon-apple-hover.svg") no-repeat;
      }
      &_google {
        background: url("../images/icons/icon-google-hover.svg") no-repeat;
      }
    }
  }
}

.mobile-app__icon {
  display: block;
  width: 36px;
  height: 36px;
  transition: all 0.3s ease;
  &_apple {
    background: url("../images/icons/icon-apple.svg") no-repeat;
  }
  &_google {
    background: url("../images/icons/icon-google.svg") no-repeat;
  }
}

.mobile-app__image {
  @include media-tablet {
    margin: 100px auto 0 auto;
  }
}