* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: $color-bg;
  font-family: Inter, Verdana, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: $color-text-dark;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}